USE [LaboratoryDb]
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_Object]    Script Date: 24.12.2025 01:47:07 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_Object] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_String]    Script Date: 24.12.2025 01:47:07 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_String] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 24.12.2025 01:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TCNumber] [nvarchar](11) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[BirthDate] [datetime2](7) NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestDefinitions]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDefinitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](20) NULL,
	[ReferenceRangeMin] [decimal](10, 2) NULL,
	[ReferenceRangeMax] [decimal](10, 2) NULL,
	[Price] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TestDefinitions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabRequests]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorName] [nvarchar](100) NULL,
	[RequestDate] [datetime2](7) NULL,
	[Status] [nvarchar](20) NULL,
 CONSTRAINT [PK_LabRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabResults]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[TestId] [int] NOT NULL,
	[ResultValue] [nvarchar](50) NULL,
	[IsAbnormal] [bit] NULL,
	[CompletedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_LabResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PatientResults]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. GÖRÜNÜMLER (VIEWS)

-- Hasta ve Test Sonuçlarını birleştiren View
CREATE   VIEW [dbo].[vw_PatientResults]
WITH SCHEMABINDING -- Indexlenebilir olması için gerekli (Yönerge Madde 9)
AS
SELECT 
    lr.Id AS RequestId,
    p.TCNumber,
    p.FirstName,
    p.LastName,
    td.Name AS TestName,
    res.ResultValue,
    res.IsAbnormal,
    lr.RequestDate
FROM [dbo].[LabResults] res
INNER JOIN [dbo].[LabRequests] lr ON res.RequestId = lr.Id
INNER JOIN [dbo].[Patients] p ON lr.PatientId = p.Id
INNER JOIN [dbo].[TestDefinitions] td ON res.TestId = td.Id
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs_Table]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[Operation] [nvarchar](20) NULL,
	[RecordId] [int] NULL,
	[LogDate] [datetime2](7) NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_Logs_Table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LabRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[LabRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[LabResults] ADD  DEFAULT ((0)) FOR [IsAbnormal]
GO
ALTER TABLE [dbo].[Logs_Table] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TestDefinitions] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[TestDefinitions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LabRequests]  WITH CHECK ADD  CONSTRAINT [FK_LabRequests_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[LabRequests] CHECK CONSTRAINT [FK_LabRequests_Patients]
GO
ALTER TABLE [dbo].[LabResults]  WITH CHECK ADD  CONSTRAINT [FK_LabResults_LabRequests] FOREIGN KEY([RequestId])
REFERENCES [dbo].[LabRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LabResults] CHECK CONSTRAINT [FK_LabResults_LabRequests]
GO
ALTER TABLE [dbo].[LabResults]  WITH CHECK ADD  CONSTRAINT [FK_LabResults_TestDefinitions] FOREIGN KEY([TestId])
REFERENCES [dbo].[TestDefinitions] ([Id])
GO
ALTER TABLE [dbo].[LabResults] CHECK CONSTRAINT [FK_LabResults_TestDefinitions]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDashboardStats]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetDashboardStats]
AS
BEGIN
    -- Tek bir satırda iki farklı sayıyı döndürüyoruz
    SELECT 
        (SELECT COUNT(*) FROM Patients WHERE IsActive = 1) AS TotalPatients,
        (SELECT COUNT(*) FROM TestDefinitions WHERE IsActive = 1) AS TotalTests
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Patients_Delete]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Patients_Delete]
    @Id INT
AS
BEGIN
    -- Veriyi tamamen silmeyelim, çöp kutusuna atalım (Pasif yapalım)
    UPDATE Patients 
    SET IsActive = 0 
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Patients_List]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Patients_List]
    @pagination dbo.Type_Dictionary_String_String READONLY, -- C# UnitOfWork burayı dolduruyor
    @where dbo.Type_Dictionary_String_String READONLY       -- C# UnitOfWork burayı dolduruyor
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Pagination değerlerini tablodan değişkenlere çek
    DECLARE @PageNumber INT = 1
    DECLARE @PageSize INT = 10
    DECLARE @OrderBy NVARCHAR(100) = 'Id'

    SELECT @PageNumber = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageNumber'
    SELECT @PageSize = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageSize'
    SELECT @OrderBy = Value FROM @pagination WHERE [Key] = 'OrderBy'

    -- Eğer boş gelirse varsayılanları koru
    IF @PageNumber IS NULL SET @PageNumber = 1
    IF @PageSize IS NULL SET @PageSize = 10
    IF @OrderBy IS NULL OR @OrderBy = '' SET @OrderBy = 'Id'

    -- 2. Filtreleme değerlerini çek
    DECLARE @SearchName NVARCHAR(100)
    SELECT @SearchName = Value FROM @where WHERE [Key] = 'FirstName' -- Örnek filtre: İsim

    -- 3. Dinamik veya Statik Sorgu
    -- Karmaşık dinamik SQL yerine, projelerde daha güvenli olan mantığı kuruyoruz:
    
    -- Toplam Kayıt Sayısı (TotalRecordCount) - Pagination için şart
    DECLARE @TotalRecordCount INT

    SELECT @TotalRecordCount = COUNT(*) 
    FROM [dbo].[Patients]
    WHERE IsActive = 1
    AND (@SearchName IS NULL OR FirstName LIKE '%' + @SearchName + '%')

    -- Veriyi Getir
    SELECT 
        *,
        @TotalRecordCount AS TotalRecordCount -- C# bunu okuyup sayfalama yapıyor
    FROM [dbo].[Patients]
    WHERE IsActive = 1
    AND (@SearchName IS NULL OR FirstName LIKE '%' + @SearchName + '%')
    ORDER BY 
        CASE WHEN @OrderBy = 'Id' THEN Id END ASC,
        CASE WHEN @OrderBy = 'FirstName' THEN FirstName END ASC,
        CASE WHEN @OrderBy = 'LastName' THEN LastName END ASC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Patients_Upsert]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Patients_Upsert]
    @Id INT = 0,
    @TCNumber NVARCHAR(11),
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Phone NVARCHAR(20) = NULL
AS
BEGIN
    -- Tarih ve Cinsiyet alanlarını sildik
    IF @Id > 0 AND EXISTS(SELECT 1 FROM Patients WHERE Id = @Id)
    BEGIN
        UPDATE Patients 
        SET 
            TCNumber = @TCNumber, 
            FirstName = @FirstName, 
            LastName = @LastName, 
            Phone = @Phone
        WHERE Id = @Id
    END
    ELSE
    BEGIN
        -- Insert kısmından da sildik
        INSERT INTO Patients (TCNumber, FirstName, LastName, Phone, IsActive)
        VALUES (@TCNumber, @FirstName, @LastName, @Phone, 1)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TestDefinitions_Delete]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Test Silme SP'si (IsActive = 0 yaparak soft delete yapıyoruz)
CREATE   PROCEDURE [dbo].[sp_TestDefinitions_Delete]
    @Id INT
AS
BEGIN
    UPDATE TestDefinitions SET IsActive = 0 WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TestDefinitions_List]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Testleri Listeleme SP'si
CREATE   PROCEDURE [dbo].[sp_TestDefinitions_List]
    @pagination dbo.Type_Dictionary_String_String READONLY,
    @where dbo.Type_Dictionary_String_String READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PageNumber INT = 1, @PageSize INT = 10, @OrderBy NVARCHAR(100) = 'Id'
    
    SELECT @PageNumber = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageNumber'
    SELECT @PageSize = CAST(Value AS INT) FROM @pagination WHERE [Key] = 'PageSize'
    SELECT @OrderBy = Value FROM @pagination WHERE [Key] = 'OrderBy'

    IF @PageNumber IS NULL SET @PageNumber = 1
    IF @PageSize IS NULL SET @PageSize = 10
    IF @OrderBy IS NULL OR @OrderBy = '' SET @OrderBy = 'Id'

    DECLARE @SearchText NVARCHAR(100)
    SELECT @SearchText = Value FROM @where WHERE [Key] = 'Name'

    DECLARE @TotalRecordCount INT
    SELECT @TotalRecordCount = COUNT(*) FROM [dbo].[TestDefinitions] 
    WHERE IsActive = 1 AND (@SearchText IS NULL OR Name LIKE '%' + @SearchText + '%' OR Code LIKE '%' + @SearchText + '%')

    SELECT *, @TotalRecordCount AS TotalRecordCount 
    FROM [dbo].[TestDefinitions]
    WHERE IsActive = 1 AND (@SearchText IS NULL OR Name LIKE '%' + @SearchText + '%' OR Code LIKE '%' + @SearchText + '%')
    ORDER BY 
        CASE WHEN @OrderBy = 'Id' THEN Id END ASC,
        CASE WHEN @OrderBy = 'Code' THEN Code END ASC,
        CASE WHEN @OrderBy = 'Name' THEN Name END ASC,
        CASE WHEN @OrderBy = 'Price' THEN Price END ASC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TestDefinitions_Upsert]    Script Date: 24.12.2025 01:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_TestDefinitions_Upsert]
    @Id INT = 0,
    @Code NVARCHAR(20),
    @Name NVARCHAR(100),
    @Unit NVARCHAR(20) = NULL,
    @Price DECIMAL(18,2) = 0
AS
BEGIN
    IF @Id > 0 AND EXISTS(SELECT 1 FROM TestDefinitions WHERE Id = @Id)
    BEGIN
        UPDATE TestDefinitions 
        SET Code = @Code, Name = @Name, Unit = @Unit, Price = @Price
        WHERE Id = @Id
    END
    ELSE
    BEGIN
        INSERT INTO TestDefinitions (Code, Name, Unit, Price, IsActive)
        VALUES (@Code, @Name, @Unit, @Price, 1)
    END
END
GO
