@inherits LayoutComponentBase

<div class="container-fluid d-flex align-items-center justify-content-center vh-100 bg-light">
    <main style="width: 100%; max-width: 500px;">
        @Body
    </main>
</div>